body {
    margin: 0px;
    overflow-x: hidden;
    position: relative;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
    font-family: "Noto Sans TC", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

form {
    margin: 0;
}

hr {
    color: #58585b;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(#c0e686 30%, #d9ecbd 70%);
    color: #58585b;
    width: 100%;
    z-index: 1000;;
    box-sizing: border-box;
}

.menu-btn {
    padding: 10px 15px;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    background-color: transparent;
    color: #58585b;
    cursor: pointer;
    
}

.menu-btn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.menu-btn1 {
    padding: 17px 0 20px 30px;
    margin-right: 20px;
}

.current {
    background-color: #58585b !important;
    color: #fff !important;
    pointer-events: none;
    cursor: default;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.nav-buttons {
    margin-right: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #58585b;
}

.nav-btn {
    background-color: #e9f6da;
    color: #58585b;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #d1dec4;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: stretch;
    }
    .nav-buttons {
        justify-content: center;
    }
}

.content {
    margin: 20px 0;
    padding: 20px 0;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 72px;
    left: -100%;
    width: 12vw;
    height: 100vh;
    min-width: 220px;
    padding: 0 1rem;
    background: #f5f5f5;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    overflow-y: auto;
    transition: left 0.3s ease; /* 平滑開關動畫 */
    z-index: 100;
}

.sidebar.active {
  left: 0;
}

.sidebar-icon {
    display: flex;
    justify-content: center;
}

.sidebar-icon img{
    width: 192px;
    height: 192px;
}

.sidebar-title p {
    margin: 0;
    text-align: center;
    font-size: xx-large;
}

.sidebar-object {
    width: 100%;
    min-height: 40px;
    padding: 10px 0;
}

.sidebar-object .sidebar-toggle {
    width: 80%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f6da;
    color: #58585b;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.sidebar-object .sidebar-toggle:hover {
    background-color: #d1dec4;
}

.sidebar-object div {
    margin: auto;
}

.sidebar-object div p{
    margin: 0;
    font-size: x-large;
}

.sidebar-submenu {
    padding: 0 20%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sidebar-object.active .sidebar-submenu {
    max-height: 200px;
}

.sidebar-submenu a {
    margin: 5px 0;
    padding-left: 10px;
    display: block;
    color: #58585b;
    border: none;
    border-radius: 20px;
    font-size: large;
    text-decoration: none;
}

.sidebar-submenu a:hover {
    background-color: #d1dec4;
}

.main {
    width: 80%;
}