{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <title>欸！愛多益 - 後台登入</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/mgmt_login.css' %}">
</head>
<body>
  <div class="container">
    <div class="main">
      <div class="page-icon">
        <img src="{% static 'img/logo.png'%}">
      </div>
      <div class="page-title">
        <p>欸！愛多益 - 後台登入</p>
      </div>
      <div class="input-zone">
        <form method="POST" action="{% url 'mgmt_login' %}">
          {% csrf_token %}
          <div class="form-group">
              <label for="email">帳號</label>
              <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
              <label for="password">密碼</label>
              <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">登入</button>
        </form>
      </div>
      <div class="isolate">
        <p>
          OR
        </p>
      </div>
      <button class="return">
        <a href="{% url 'home' %}" id="backButton">回到使用者端</a>
      </button>
    </div>
    {% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% for message in messages %}
            Swal.fire({
                icon: '{% if message.tags == "error" %}error{% else %}info{% endif %}',
                title: '{{ message.tags|title }}',
                text: '{{ message }}',
                confirmButtonText: '確定'
            });
        {% endfor %}
    </script>
    {% endif %}
  </div>
</body>
</html>


